* {
  margin: 0;
  padding: 0;
  font-family: "popin", serif;
}
li {
  list-style: none;
}
.main_box {
  /* position: relative; */
  background: url(background-keyboard.jpg) center no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.slidebar_menu {
  height: 100vh;
  width: 280px;
  position: fixed;
  left: -280px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
  overflow: hidden;
  transition: all 0.3s linear;
}
.logo {
  height: 60px;
  width: 100%;
  position: absolute;
  box-shadow: 0px 2px 4px rgba(255, 255, 255, 0.5);
}
.logo-a {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  line-height: 60px;
  text-decoration: none;
  position: absolute;
  left: 50px;
}
.menu {
  position: absolute;
  top: 80px;
  width: 100%;
}
.menu li {
  margin: 6px 0px 0px 0px;
  padding: 14px 20px;
  transition: all 0.3s linear;
}
.menu i {
  color: #fff;
  font-size: 20px;
  padding-right: 8px;
}
.menu a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}
.social_media {
  position: absolute;
  bottom: 20px;
  left: 50%;
  list-style: none;
  cursor: pointer;
  transform: translateX(-50%);
}
.social_media i {
  text-decoration: none;
  color: white;
  opacity: 0.5;
  font-size: 18px;
  padding: 0px 5px;
  transition: all 0.2s linear;
}
.menu li:hover {
  border-left: 1px solid #fff;
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.5);
}
.social_media i:hover {
  opacity: 1;
}
#check {
  display: none;
}
.btn_one i {
  color: #fff;
  font-size: 30px;
  position: absolute;
  left: 16px;
  line-height: 60px;
  opacity: 1;
  transition: all 0.3s linear;
  cursor: pointer;
}
.btn_two i {
  font-size: 25px;
  position: absolute;
  left: 240px;
  line-height: 60px;
  opacity: 1;
  transition: all 0.3s linear;
  cursor: pointer;
}
.btn_one i:hover {
  font-size: 29px;
}
.btn_two i:hover {
  font-size: 24px;
}
#check:checked ~ .slidebar_menu {
  left: 0px;
}
#check:checked ~ .btn_one i {
  opacity: 0;
}
#check:checked ~ .slidebar_menu.btn_two i {
  opacity: 1;
}
